auto-save-list/
semanticdb/
elpa/
eshell/
session.*
.emacs.desktop
.emacs.desktop.lock
**/*.elc
**/*.pyc
elpa/*-readme.txt
elpa/gnupg/
**/*.eld
projectile.cache
emacs_backtrace.txt
recentf
server/
**/\#*
**/.\#*
**/*~
mylocal/
