[submodule "modules/tern"]
	path = modules/tern
	url = https://github.com/marijnh/tern.git
[submodule "modules/company-tern"]
	path = modules/company-tern
	url = https://github.com/proofit404/company-tern
[submodule "modules/emacs-color-theme-solarized"]
	path = modules/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "modules/ecb"]
	path = modules/ecb
	url = https://github.com/alexott/ecb.git
[submodule "evil-easymotion"]
	path = evil-easymotion
	url = https://github.com/PythonNut/evil-easymotion.git
[submodule "modules/helm-company"]
	path = modules/helm-company
	url = git@github.com:gilelad/helm-company.git
