[submodule "modules/tern"]
	path = modules/tern
	url = https://github.com/marijnh/tern.git
[submodule "modules/company-tern"]
	path = modules/company-tern
	url = https://github.com/proofit404/company-tern
[submodule "modules/ecb"]
	path = modules/ecb
	url = https://github.com/alexott/ecb.git
[submodule "modules/helm-company"]
	path = modules/helm-company
	url = https://github.com/gilelad/helm-company.git
